*{
  margin: 0px;
  padding: 0%;
}
html, body{
  --fondo-oscuro: rgb(77, 60, 44);
  --cafe-rojizo: rgb(77, 44, 44);
  background-image: linear-gradient(to bottom, rgba(94, 60, 46, 0.4) 0%, rgba(94, 60, 46, 0.4) 100%), url(../src/bg.jpg);
  background-size: cover;
    background-attachment: fixed;
    background-position: center;
  font-family: Quicksand;
  scroll-behavior: smooth;
  text-wrap: wrap;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,.productoRelacionadoC::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid rgb(32, 50, 59);
}

body::-webkit-scrollbar-track {
  background-color: rgb(46, 75, 92);

}